.parentContainer {
  background: var(--bg-color);
  min-height: 100vh;
  padding: 6rem 1rem;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 100%;
  max-width: 450px;
}
.resetform {
  padding: 16px;
  width: 100%;
  background: var(--card-color);
  border: 5px;
  border-radius: 5px;
}
.resetform input {
  margin: 10px;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  padding: 16px;
  box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
  outline: none;
  border: none;
  border-radius: 15px;
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
  .resetform {
    width: 100%;
    padding: 1.5rem;
  }
}
.btn {
  font-weight: bold;
  background: var(--button-color);
  color: var(--text-color);
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border: none;
  box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
  border-radius: 8px;
  transition: all linear 0.3s;
}
.btn:hover {
  transform: scale(1.1);
  background: var(--card-color);
  color: var(--text-color);
}
.btn:active {
  transform: scale(0.9);
}
