.theme-btn {
  background: var(--button-color);
  color: var(--text-color);
  border: none;
  padding: 12px 16px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}

.theme-btn:hover {
  transform: scale(1.1);
}

.theme-btn:active {
  transform: scale(0.95);
}
